# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# Git
.git
.gitignore

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Docker specific
Dockerfile
docker-compose.yml
.dockerignore

# Keep data and output directories but ignore their contents
data/*
!data/.gitkeep
output/*
!output/.gitkeep
